<<<<<<< HEAD
 #fileira_01{
    display: flex;
 }

 #fileira_02{
    display: flex;
 }


 .Bloco_01{
    background-color: rgb(118, 141, 184);
    width: 1350px;
    height: 285px;
    border-radius: 20px;
    display: flex;
 }

 .Bloco_02{
    margin-left: 20px;
     background-color: rgb(118, 141, 184);
     width: 520px;
     height: 285px;
     border-radius: 20px;
 }

.

 







=======
 
>>>>>>> d8cd80a9f392d0b7f45dc788c4de4a34994a0074
#Barrasuperior{

    background-color: grey;
    height: 50px;
    width: 180px;
}

.sapic{

        display:flex
        font-size: small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style:initial;
        white-space:enabled;
         gap: 15px;
        align-items: center;
        
        
        
}          
.sapic img{

    width: 30px;
    height: 20px;
    vertical-align:middle;
    
}   